<!--header-->
<div th:fragment="header"
	  xmlns:sec="http://www.w3.org/1999/xhtml">

	<div class="container">
		<header class="text-shojumaru-regular d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
			<div class="col-md-3 mb-2 mb-md-0">
				<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
					<img id="logoImage" width="40px" height="40px" src="../../images/logo/logo-label-light.png">

					<span class="fs-6 mx-2 text-my-light text-shojumaru-regular">K-Curry<br><span class="text-my-red">Jib</span></span>
				</a>
			</div>

			<ul class="nav nav-pills col-12 col-md-auto mb-2 justify-content-center mb-md-0">
				<li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
				<li><a href="/menu" class="nav-link px-2 active">Menu</a></li>
				<li><a href="/restaurant/all" class="nav-link px-2">Restaurants</a></li>
				<!--				<li><a href="#" class="nav-link px-2">About</a></li>-->
			</ul>

			<div th:if="${not #authorization.expression('isAuthenticated()')}">
				<div th:insert="~{fragments/header :: header-guest}"></div>
			</div>

			<div th:if="${#authorization.expression('isAuthenticated()')}">
				<div th:insert="~{fragments/header :: header-authenticated}"></div>
			</div>
		</header>

	</div>
</div>


<!--fragment-header-guest-->
<div th:fragment="header-guest">
	<div class="text-end">
		<a th:href="@{/login}" type="button" class="btn btn-outline-primary me-2">Login</a>
		<a th:href="@{/create-user}" type="button" class="btn btn-primary">Sign-up</a>
	</div>
</div>


<!--fragment-header-authenticated-->
<div th:fragment="header-authenticated"
	  xmlns:sec="http://www.w3.org/1999/xhtml">

	<div class="d-flex flex-row align-items-center">
			<span th:remove="tag"
					sec:authentication="principal.firstName"></span>
			<span th:remove="tag"
					sec:authentication="principal.lastName"></span>

		<div class="ms-2 dropdown text-end">
			<a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
				<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
					<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
					<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
				</svg>
			</a>
			<ul class="dropdown-menu text-small">
				<li><a class="dropdown-item" href="/cart">Cart</a></li>
				<li><a class="dropdown-item" href="#">Settings</a></li>
				<li><a class="dropdown-item" href="#">Profile</a></li>
				<li><hr class="dropdown-divider"></li>
				<li>
					<form th:action="@{/logout}" method="POST">
						<input class="dropdown-item" type="submit" value="Sign out">
					</form>

<!--					<a class="dropdown-item" th:href="@{/logout}">Sign out</a>-->
				</li>
			</ul>
		</div>
	</div>
</div>